.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.description {
  margin-top: 100px;
}

.techniques {
  min-width: 80%;
  margin: 100px auto 0px;
  padding: 0px;
}

.oakley {
  background-color: #f2f2f2;
  position: relative;
  padding: 160px 0px;
  z-index: -1;
}

.digits {
  margin: 0;
  padding: 0;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding: 90px 0px;
}

/* и элемента с модификатором вида ключ-значение */

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding: 60px 0px 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  flex-basis: 711px;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
}

.logo_place_footer {
  display: flex;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  margin: 18px 0px;
  position: relative;
  top: 170px;
}

.footer__columns_info {
  display: flex;
}

.footer__column_content_info {
  margin-right: 200px;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #f2f2f2;
}

.footer__column-links {
  padding: 0;
  margin: 0;
}

.footer__link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.footer__column_content_social {
  margin-right: 16px;
}

.footer__column-link {
  display: block;
  list-style-type: none;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
